<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel heading">
	<p class="lead">
	  <strong>Title:</strong>
	  <%= @article.title %>
	</p>
  </div>
  <div class="panel content">
	<p class="text-justify">
	  <strong>Content:</strong>
	  <%= @article.content %>
	</p>
  </div>
  <div class="panel footer">
	<p>
	  <strong>Status:</strong>
	  <%= @article.status %>
	</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel heading">
	<p class="lead">
	  <h2>Comments</h2>
	</p>
  </div>
</div>
<%= render @article.comments %>

<%= link_to 'Edit', edit_article_path(@article), class:'btn btn-default' %> |
<%= link_to 'Back', articles_path, class:'btn btn-default' %>
